@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(38, 4, 88);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Shadows Into Light", Arial, Helvetica, sans-serif;
    font-size: 1.65rem;
}